<h1>F.A.Q</h1>

<div id="text">
<h2>What is Relove Me?</h2>

<p>Revolve Me is a place where you can advertise your garage sale for free and let <br>
  everyone know about it. You can have as many sales as you like and also list the <br> 
  items you are looking to give to a new home. <br> </p>

<h2>How much is it to list?</h2>

<p>Nothing! It's 100% free!</p>

<h2>Do I have to sign up to post a garage sale?</h2>

<p>You will need to sign up so you can both post and track your sale. This allows you <br> 
to make changes when you are logged in such as a change of time or location. But don't worry <br> 
the only bits of info we need from you is a name, email address and for you to create a password.<br> 
</p>

<h2>Holy crap I have so many items on sale, do I have to list them?</h2>

<p>Absolutely, not. You're in control of how much information you chose to share regarding your sale.</p>


</div>